* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}


body {
  background: #e5fae9;
  padding: 20px;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;

}

.rute-container {
  display: flex;          /* Membuat rute berjejer ke samping */
  gap: 15px;             /* Jarak antar kotak */
  justify-content: start; /* Mulai dari kiri */
  padding: 20px 0;
}

.rute-card {
  background-color: #f8f9fa; /* Warna latar kotak tipis */
  border: 1px solid #ddd;    /* Garis tepi tipis */
  border-radius: 10px;       /* Sudut melengkung */
  padding: 15px 30px;        /* Jarak dalam kotak */
  text-align: center;        /* Teks di tengah */
  min-width: 120px;          /* Lebar minimal kotak */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* Bayangan halus */
}

.icon {
  font-size: 20px;
  color: #2e7d32;            /* Warna hijau ikon (sesuaikan) */
  margin-bottom: 5px;
}

.rute-card h3 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.rute-card p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

    /* NAVBAR */
nav {
background-color: #ffffff;
padding-left: 190px;
display: flex;
align-items: center;
height: 90px;
margin: 0px 0px 30px 0px;
}

nav h2 {
  color: #000000;
  margin-left: 10px;
  font-size: 19px;
}
nav img {
  margin-right: 10px;
  background-color: rgb(6, 92, 26);
  height: 40px;
  width: 40px;
  border-radius: 10%;

}

/*card */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
}

h1 {
  margin-bottom: 10px;
  color: #222;
}

p {
  line-height: 1.6;
  color: #b8b8b8;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #16c327;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f4f7ff;
}

tr:hover {
  background: #e0e7ff;
}

/* kalender */
.calendar-box {
  margin-top: 20px;
}

input[type="date"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
  background: #f9fbff;
  transition: 0.3s;
}

input[type="date"]:hover {
  border-color: #2b4eff;
}

input[type="date"]:focus {
  outline: none;
  border-color: #2b4eff;
  box-shadow: 0 0 5px rgba(43,78,255,0.5);
}

  /* form */
form {
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background: #2b4eff;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #1a35cc;
}

.btn-hapus {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-hapus:hover {
  background-color: #cc0000;
}